.form-body {
  background-color: rgba(12, 0, 54, 1);
}

// styling for select expense and select income buttons
.select-expense-income {
  //   padding-left: 5vw;
  width: 25vw;
  height: 3vh;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  color: rgba(119, 171, 68, 1);
}

// styling for enter amount button for both expense and income
.enter-amount {
  width: 23vw;
  height: 2.5vh;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(62, 62, 62, 1);
  opacity: 1;
  color: rgba(119, 171, 68, 1);
}

// styling for both expense and income date buttons
.select-date {
  width: 23vw;
  height: 2.5vh;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(62, 62, 62, 1);
  opacity: 1;
  color: rgba(119, 171, 68, 1);
}

// styling for both income and expense buttons
.submit-button {
  width: 10vw;
  height: 2.5vh;
  background: var(--unnamed-color-77ab44) 0% 0% no-repeat padding-box;
  background: rgba(119, 171, 68, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
}

.expense-spacing {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 2vh;
}
