@import "../breakpoints/breakpoints.scss";
.transactions {
  list-style: none;
  // padding-bottom: 10vh;
}

.transaction-style {
  display: flex;
  justify-content: space-around;
}
.delete-btn {
  background: #fd6060 0% 0% no-repeat padding-box;
  color: white;
}
.table {
  @include media("<=phone") {
    padding: 0 12vw;
  }
  @include media(">phone") {
    // margin-left: 4vw;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // flex-direction: column;
    padding: 0 45vw;
  }
  // display: flex;
  // justify-content: center;
}
